body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.b-color{
    color: antiquewhite;

}

.bg-menu{
    background: rgba(54, 53, 50, 255)
}

.logo {
    width: 50px;
    height: auto;
}

.welcome-message {
    text-align: left;
}

.nav-link {
    margin: 0 10px;
}

#cartButton {
    position: relative;
}

#cartButton .fas {
    
    margin-right: 5px;
}

#cartCount {
    font-weight: bold;
}

.modal-body {
    text-align: center;
    font-size: 18px;
}

/*------------CSS Card--------------*/

.cont-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 12vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.containerC {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}

.card-front {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.card-front img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-back {
    background-color: #333;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.card-back h3, .card-back p {
    margin: 10px 0;
}

.card-back button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.card-back button:hover {
    background-color: #218838;
}

.cart_img{
    width: 50px;
    height: 50px; 
    object-fit: cover; 
    border-radius: 5px; 
}